/* *************************
GENERAL CSS
************************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #343a40;
}

/* *************************
REUSABLE CSS
************************* */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.text-center {
  text-align: center;
}

.primary-btn {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #e6fcf5;
  background-color: #087f5b;
  padding: 16px 32px;
  border-radius: 3px;
  text-transform: capitalize;
}

.heading-primary {
  font-size: 62px;
  text-transform: capitalize;
  letter-spacing: -1.5px;
  margin-bottom: 32px;
  line-height: 1.2;
  color: #212529;
  font-weight: 700;
}

.border-span {
  padding-left: 10px;
  border-left: 10px solid;
  border-radius: 15px;
  border-image: linear-gradient(to bottom, #12b886, #087f5b) 2;
}

.heading-primary-color {
  color: #087f5b;
  margin-left: -2px;
}

.heading-secondary {
  font-size: 44px;
  line-height: 1.2;
  color: #343a40;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: -1.5px;
}

.heading-secondary span {
  color: #087f5b;
}

.heading-tertiary {
  font-size: 36px;
  color: #343a40;
}

.subheading {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #087f5b;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 0.75px;
}

/* *************************
HERO SECTION CSS
************************* */
.hero {
  background-color: rgba(230, 252, 245, 0.596);
  padding: 48px 0;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  padding: 0 32px;
}

.hero-content-box {
  max-width: 50%;
}

.hero-description {
  font-size: 24px;
  line-height: 1.4;
  color: #212529;
  font-weight: 400;
  margin-bottom: 48px;
}

.hero-img-box {
  width: 50%;
}

.hero-img-box img {
  width: 100%;
}

/* *************************
RESOLUTION SECTION CSS
************************* */
.resolution {
  padding: 96px 0;
}

.resolution-box-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-top: 80px;
}

#color-box-1 {
  background-color: #fff4e6;
  border: 5px solid rgba(255, 232, 204, 0.336);
}

#color-box-2 {
  background-color: #e6fcf5;
  border: 5px solid rgba(195, 250, 232, 0.336);
}

#color-box-3 {
  background-color: rgba(243, 217, 250, 0.678);
  border: 5px solid rgba(238, 190, 250, 0.205);
}

.resolution-box {
  width: 33.33%;
  padding: 40px;
  border-radius: 10px;
}

.resolution-img {
  width: 100px;
  margin-bottom: 32px;
}

.resolution-box-title {
  font-size: 24px;
  margin-bottom: 24px;
  color: #087f5b;
}

.resolution-box-description {
  line-height: 1.4;
  font-size: 18px;
  color: #212529;
}

/* *************************
NEW YEAR GOAL SECTION
************************* */
.goals {
  padding: 96px 0;
}

.goal-box {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.goal-text-box {
  width: 60%;
}

.goal-text-box h3 {
  margin-bottom: 32px;
}

.goal-box-description {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 24px;
}

.goal-box-img {
  width: 40%;
}

.goal-box-img img {
  width: 100%;
  border-radius: 10px;
}
