/* *************************
GENERAL CSS
************************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #343a40;
}

/* *************************
REUSABLE CSS
************************* */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.primary-btn {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #e6fcf5;
  background-color: #087f5b;
  padding: 16px 32px;
  border-radius: 3px;
  text-transform: capitalize;
}

.heading-primary {
  font-size: 62px;
  text-transform: capitalize;
  letter-spacing: -1.5px;
  margin-bottom: 32px;
  line-height: 1.2;
  color: #212529;
  font-weight: 700;
}

.border-span {
  border-left: 10px solid;
  border-image: linear-gradient(#12b886, #087f5b);
  border-image-slice: 1;
  border-radius: 2px;
  padding-left: 10px;
}

.heading-primary .border-span span {
  color: #087f5b;
  margin-left: -4px;
}

.heading-secondary {
  font-size: 44px;
  line-height: 1.2;
  color: #212529;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: -1.5px;
  text-align: center;
}

.heading-secondary span {
  color: #087f5b;
}

/* *************************
HERO SECTION CSS
************************* */
.hero {
  background-color: rgba(230, 252, 245, 0.596);
  padding: 48px 0;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  padding: 0 32px;
}

.hero-content-box {
  max-width: 50%;
}

.hero-description {
  font-size: 24px;
  line-height: 1.4;
  color: #212529;
  font-weight: 400;
  margin-bottom: 48px;
}

.hero-img-box {
  width: 50%;
}

.hero-img-box img {
  width: 100%;
}

/* *************************
HERO SECTION CSS
************************* */
.benefit {
  padding: 96px 0;
}

.resolution-box-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-top: 80px;
}

.resolution-box {
  width: 33.33%;
  background-color: #e6fcf5;
  padding: 40px;
  border: 5px solid rgba(195, 250, 232, 0.336);
  border-radius: 10px;
}

.resolution-img {
  width: 100px;
  margin-bottom: 32px;
}

.resolution-box-title {
  font-size: 24px;
  margin-bottom: 24px;
  color: #087f5b;
}

.resolution-box-description {
  line-height: 1.4;
  font-size: 18px;
  color: #212529;
}
